<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | Alexander</title>

  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>

  <header class="site-header">
    <div class="logo">Alexander'e Blog</div>

    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/#posts' | relative_url }}">Posts</a>
      <a href="https://github.com/YOURUSERNAME">GitHub</a>
    </nav>
  </header>

  <main class="content">
    {{ content }}
  </main>

</body>
</html>
